<div *ngIf="errMsg" class="alert alert-danger">
  {{errMsg}}
</div>
<button class="btn btn-primary" (click)="addForm=true; errMsg=null">Add Skills</button>
<table class="table table-striped table-bordered" *ngIf="skills">
  <thead class="thead-inverse">
    <tr>
      <td>Sl. No.</td>
      <td>Skills</td>
      <td>Trained</td>
      <td>Take Action</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let skill of skills ; let i =index">
      <td>{{i + 1}}</td>
      <td>{{skill.Skills}}</td>
      <td>{{skill.trained}}</td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-warning" (click)="onUpdate(skill.Skills); errMsg=null">Update</button>
          <button type="button" class="btn btn-warning" (click)="onDelete(skill.Skills); errMsg=null">Delete</button>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="4"></td>
    </tr>
  </tbody>
</table>

<div *ngIf="addForm" class="floatDiv">
  <h1>Add Skill Details</h1>
  <form [formGroup]="addSkillForm" class="form-horizontal" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="skills" class="col-xs-4 control-label" style="text-align:left">Skill</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" formControlName="skills" />
        <div *ngIf="addSkillForm.controls.skills.errors" class="alert alert-danger">Skill is required</div>
      </div>
    </div>    
    <button class="btn btn-default" type="submit" [disabled]="!addSkillForm.valid">Add Details</button>
    <button class="btn btn-default" (click)="addForm=false">Cancel</button>
  </form>
</div>
<div *ngIf="updateFormSkill" class="floatDiv">
  <h1>Update Skill details</h1>
  <form [formGroup]="addSkillForm" class="form-horizontal" (ngSubmit)="updateRecord()">
    <div class="form-group">
      <label for="skill" class="col-xs-4 control-label" style="text-align:left">Skill</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" formControlName="skills" [attr.disabled]="''" />
        <div *ngIf="addSkillForm.controls.skills.errors" class="alert alert-danger">Skill is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="trained" class="col-xs-4 control-label" style="text-align:left">Trained</label>
      <div class="col-xs-8">
        <select formControlName="trained">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>
    </div>
    <button class="btn btn-default" type="submit" [disabled]="!addSkillForm.valid">Update Details</button>
    <button class="btn btn-default" (click)="updateFormBook=false">Cancel</button>
  </form>
</div>
